extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  -if(list.length > 0){
  - for(var i in list){
      div=list[i]
  - }
    
  -}else{
    div.NullData  向着代码，发起进攻(　 ´-ω ･)▄︻┻┳══━一
  -}