doctype html
html
  head
  title 文章
  link(rel='stylesheet', href='/stylesheets/zain-base.css')
  link(rel='stylesheet', href='/stylesheets/iframes.css')
  link(rel='stylesheet', href='/stylesheets/addarticle.css')
  link(rel='stylesheet', href='/stylesheets/thinker-md.vendor.css')
  link(rel='stylesheet', href='/emoji/nature.css')
  link(rel='stylesheet', href='/emoji/object.css')
  link(rel='stylesheet', href='/emoji/people.css')
  link(rel='stylesheet', href='/emoji/place.css')
  link(rel='stylesheet', href='/emoji/Sysmbols.css')
  link(rel='stylesheet', href='/emoji/twemoji.css')
body
    div#content
        input(type='text', placeholder='标题').title
        textarea(rows='3', placeholder='副标题').subtitle
        div.add-title-picture-panel
          a.add-title-picture-a
            input(type='file', name='title_picture', id='title_picture', onchange='ajaxFileUpload()').add-title-picture-input
          div.add-title-picture-des 标题图
        img(src='')#title_picture_callback
        textarea(name="content" rows="10")#article

        input(type='button', value='提交', id='submitbtn')



script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
script(src='/javascripts/layer.js')
script(src='/javascripts/thinker-md.vendor.min.js')
script(src='/javascripts/ajaxfileupload.js')
script(src='/javascripts/addarticle.js')
    