doctype html
html
  head
  title 上传图片
body
    form(method="post", enctype="multipart/form-data", action="/zain/article/uploadpicture")
        input(type='file', name='title_picture', id='title_picture')
        input(type='submit', value='上传')