doctype html
html
  head
  title 登录
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/login.css')
  script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
body
    form(name='loginform',id='loginform',method='post')
        div.login
            div.title 登录
            ul
                li 
                    span 账号：
                    input(type='text',id='account',name='account')
                li
                    span 密码：
                    input(type='password',id='passwd', name='passwd')
                li
                    input(type='submit', value='登录')