doctype html
html
  head
  title 登录
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/login.css')
  script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
body
    form(name='loginform',id='loginform',method='post')
        div.login
            div.title 登录
            ul
                li 
                    input(type='text')
                li
                    input(type='password')
                li 789