#preview,textarea{
    width:100%;
    padding:15px
}
*{
    font-family:'Microsoft YaHei',Verdana,sans-serif,SimSun;
    font-size:13px
}

#preview{
    height:auto;
    min-height:300px;
    margin:5px 0;
    border:1px solid #999;
}